@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image:url('p.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
}

.links{
    flex: 1;
    text-align: right;
}

.links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}


.btn{
    background:transparent;
    font-size: 20px;
    color:white;
    border: 2px solid white;
    border-radius: 25px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
}

.btn a{
    text-decoration: none;
    font-size: 20px;
    color:white;
}

.btn:hover{
    background:  rgb(120, 27, 27);
}


.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:left;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 30px;
    font-size: 20px;
    color: white;
}

.hero-btn{
    margin-left: 5px;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 3px solid white;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    background:  rgb(120, 27, 27);
}

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 70px;
}

.course h1{
    font-size: 50px;
    font-weight:1000;
    color: rgb(120, 27, 27);
}

.course h3{
    margin-top: 15px;
}

.course p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    padding: 10px;

}

.course-a{
    background: #fff3f3;
    border-radius: 10px;
    float: left;
    width: 30%;
    min-height: 300px;
    margin: 15px; 
}

.course-a p{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    padding: 10px;

}

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:80px ;
}

.campus h1{
    font-size: 50px;
    font-weight:1000;
    color: rgb(120, 27, 27);
}

.campus p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
}

.campus-a{
    border-radius: 30px;
    width: 25%;
    float: left;
    position: relative;
    max-height: 500px;
    margin: 30px;
}

.campus-a img{
    width: 100%;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.campus-a:hover .campus-a img {
    opacity: 0.5;
  }
  
  .campus-a:hover .middle {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 70px;
    
}

.facilities h1{
    font-size: 50px;
    font-weight:1000;
    color: rgb(120, 27, 27);
}

.facilities p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;

}

.facilities-a{
    border-radius: 10px;
    width: 25%;
    float: left;
    position: relative;
    overflow: hidden;
    max-height: 500px;
    margin: 30px;
}

.facilities-a img{
    width: 100%;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

  .text {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

.students{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 70px;
   padding-bottom: 100px;
}

.students h1{
    font-size: 50px;
    font-weight:1000;
    color: rgb(120, 27, 27);
}

.students p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;

}

.students-a p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.students-a img{
    height: 70px;
    margin-left: 15px;
    margin-right: 30px;
    border-radius: 50%;
    float: left;
    margin-top: 15px;
    margin-bottom: 100px;
}

.students-a{
    background: #fff3f3;
    border-radius: 10px;
    float: left;
    width: 45%;
    min-height: 100px;
    margin: 15px; 
}

.students-a h3{
    margin-bottom: 10px;
}

.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background-color: rgb(120, 27, 27,0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 20px;
    top: 50%;
    position: absolute;

}

.layer1{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer1:hover{
    background-color: rgb(120, 27, 27,0.7);
}

.layer1 h4{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 15px;
    top: 50%;
    position: absolute;

}

.footer{
    margin-top: 200px;
    background-color:rgb(120, 27, 27); 
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.socialicons{
    display: flex;
    justify-content: center;
}

.socialicons a{
    text-decoration: none;
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.socialicons a i{
    font-size: 1.5rem;
    color: rgb(120, 27, 27);
    opacity: 0.9;
    justify-content: center;
    margin-left: 15px ;
    margin-top: 15px;
}

.footer p{
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;

}

